.Titlebar {
  height: 60px;                 /* shelf titlebar height */
  background: linear-gradient(to right, #5100f5 0%, #aa00ff 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 400;
  color: white;
}

.Titlebar-wordcount {
  margin-left: auto;
  margin-right: 12px;
  font-weight: 300;
  font-size: 1.25em;
}

.Titlebar-wordcount > label {
  font-size: 0.625em;
  margin-right: 4px;
}
.Titlebar-title {
  padding: 0px 18px;
  font-size: 1.5em;
}


